{% extends 'base_site.html' %}
{% block content %}

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="/static/css/card2.css" rel="stylesheet" />

<h2 class="title text-center">Main Project</h2>
<div class="container">
    <div class="row">
        {% for items in object_list %}
        <div class="col-md-4">
            <div class="card-content">
                <div class="card-img">
                    <img src="{{ items.gambar.url }}" class="container" style="width:300px;height:280px;"></img>
                    <span><h4>Applikasi</h4></span>
                </div>
                <div class="card-desc">
                    <h4>{{ items.title }}</h4>
                    <p>{{ items.deskripsi }}</p>
                    <a href="{% url 'detail' items.slug %}" class="btn-card btn-block text-center"><strong>Baca</strong></a>   
                </div>
            </div>
        </div>
        {% endfor %}
    </div> 
</div>

{% endblock content %}