{% extends 'base_site.html' %}
{% block content %}

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link href="/static/css/card.css" rel="stylesheet" />

<div class="container">
    <div class="row"> 
        {% for items in object_list %}
        <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
            <div class="card">
                <img class="card-img-top" src="https://picsum.photos/200/150/?random">
                <div class="card-block">
                    <figure class="profile">
                        <img src="https://picsum.photos/200/150/?random" class="profile-avatar" alt="">
                    </figure>
                    <h4 class="card-title mt-3">{{ items.title }}</h4>
                    <div class="meta">
                        <a>Applikasi</a>
                    </div>
                    <div class="card-text">
                        {{ items.deskripsi}}
                    </div>
                </div>
                <div class="card-footer">
                    <small>{{ items.date_created }}</small>
                    <button class="btn btn-secondary btn-sm">Baca</button>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock content %}